@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* reset das margens e bordas*/
* {
    margin: 0px;
    box-sizing: border-box;
}

/* Grandiente linear do verde do header */
header {
    background-image: linear-gradient(to top, #126337 25%, #28E07B 75%);
}

main {
    background-color: #51cc86;    
    /* deveria centrar o bloco da main*/
    padding: 15px;
    min-width: 300px;
    max-width: 800px;
}

/* Padding, alinhamento*/
.header-titulos {
    padding: 15px;
    text-align: center;
}

/* fonte e cor*/
.header-titulo-principal {
    color: rgb(238, 234, 234);
    font-family: 'Bebas Neue', cursive;    
    font-weight: normal;
}

/* fonte e cor*/
.header-subtitulo {
    font-size: 18px;
    font-weight: 100;
    color: white;
    margin-top: 17px;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 18px;
    padding: 6px;
}

.header-links>p {
    align-items: center;
    color: white;
    font-weight: bold;
}

.header-links > p:hover{
    color:rgb(65, 196, 65);
}

p {
    text-indent: 15px;
    margin: 9px;
    font-family: Helvetica, sans-serif;
}

p > a{
    color: rgb(22, 155, 4);
}

p > a:hover{
    color: rgb(16, 90, 6);
}

p > strong {
    color: rgb(22, 155, 4);
}

#content {
    background-color: white;
    padding: 10px;
}

.main-titulo-principal {
    font: normal bold 20px 'Android', Arial, Helvetica, sans-serif;
    color: #0a793c;
}

footer >p {
    background-color: #126337;
    margin: 0px;
    padding: 3px;
    text-align: center;
    font-size: 12px;
    color: rgb(229, 226, 226);
    font-weight: 500;
}

.titulo-artigo {
    background-image: linear-gradient(to right, rgba(145, 223, 229, 0.432) 40%,
            rgb(235, 235, 235) 60%);
    padding-left: 3px;
    color: #0f5706;
    font: 500 18px 'Android';
}

picture {
    display: flex;
    justify-content: center;
}


.lista {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 5px;
}

li::before {
    content: '✔  ';
}

.content-extra {
    border-radius: 10px;
    background-color: rgb(173, 233, 233);

}

.content-extra>h1 {
    background-color: #22aa76;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 15px;
}

.section-lista {
    padding: 10px;
}

.video{
    background-color: rgb(4, 68, 4);
    padding: 5px 10px;
    outline: 10px solid rgb(4, 68, 4);
    margin-top: 5px;    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#paragrafo-especial{
    margin-bottom: 20px;
}

.strong-footer {  
    color: white;   
}